# extension 用ディレクトリの出力とキャッシュを無視
extension/node_modules/
extension/dist/
extension/dist-ssr/
extension/.cache/
extension/*.log
extension/.npm/

.vite/

# OS/IDE 周り
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
